p, form, input {
    font-family: "Veranda", sans-serif;
}

p {
    font-weight: 600;
}

input {
    padding-left: 5px;
    height: 1em;
    width: 20%;
    display: inline-block;
}
#inputs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

button {
    margin-top: -25px;
}

#container {
    margin: 0 auto;
    width: 70%;

}

table {
    font-family: "Veranda", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tr td {
    width: 25px;
    height: 25px;
    padding: 10px;
    border: 1px solid black;
    text-align: right;
}

tr:first-child td {
    width: 25px;
    height: 25px;
    padding: 10px;
    border: 1px solid white;
    background-color: black;
    color: white;
    text-align: right;
}

td:first-child {
    width: 25px;
    height: 25px;
    padding: 10px;
    border: 1px solid white;
    background-color: black;
    color: white;
    text-align: right;
}

tr:first-child td:first-child {
    width: 25px;
    height: 25px;
    padding: 10px;
    border: 1px solid white;
    background-color: black;
    color: white;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
